<!DOCTYPE html>
<html>
<head>
	<title>Mongoose Overview</title>
</head>
<body>
	<form action="/user" method="post">
		<div id="name">
			<label for="name"> Your Name: </label>
			<input type="text" name="name" id="">
		</div>
		<div id="age">
			<label for="age"> Age: </label>
			<input type="text" name="age" id="">
		</div>
		<input type="submit" value="Submit">
	</form>
</body>
</html>